Container#app-container {
  layout: vertical;
}


#content-container {
  layout: horizontal;
}


TargetInput {
  border: hkey $surface;
  background: $panel;
  height: 5;
  layout: horizontal;
}

TargetList {
  dock: left;
  width: 15%;
  min-width: 15;
  height: 100%;
  background: $panel;
}

TracerWidget {
  border: solid $primary-background;
  background: $panel-darken-1;
  layout: vertical;
}



TargetInput #greeter {
  width: 1fr;
  content-align: center middle;
  padding: 1;
  background: $primary;

}


TargetInput Input.-valid {
  border: tall $success 60%;
}
TargetInput Input.-valid:focus {
  border: tall $success 60%;
}

TargetInput #action-container {
  width: 4fr;
  align: right middle;
}

TargetInput #action-container Label {
  content-align: center middle;
  height: 3;
}
TargetInput #action-container Input {
  background: $primary;
  width: 50;
  margin: 0 5 0 5;
}
TargetInput #action-container Button {
  background: $accent;
  width: 30;
}

HopList {
  padding: 1;
  height: auto;
}

HopListItem {
  height: auto;
  border: solid $primary;
  layout: horizontal;
}

HopListItem Static{
  width: 60;
  margin-right: 1;
  content-align: left top;
}
HopListItem HopSparkline{
  width: auto;
}

.error-state {
  border: solid $error;
}
.warn-state {
  border: solid $warning;
}
