#app-container {
  layout: vertical;
}
DomainNameInput {
  border: hkey $surface;
  background: $secondary-background;
  height: 5;
  layout: horizontal;
}

TracerWidget {
  border: solid $primary-background;
  background: $panel-darken-1;
  layout: vertical;
}
/* #sidebar { */
/*   dock: left; */
/*   width: 20%; */
/* } */



DomainNameInput Label {
  width: 1fr;
  content-align: center middle;
  padding: 1;
  background: $primary;
  
}

DomainNameInput Input {
  background: $primary;
  width: 3fr;
  margin: 0 5 0 2;
}

DomainNameInput Input.-valid {
  border: tall $success 60%;
}
DomainNameInput Input.-valid:focus {
  border: tall $success 60%;
}

DomainNameInput #action-container {
  width: 2fr;
}
DomainNameInput #action-container Button {
  background: $accent;
  width: 25;
}

HopList {
  padding: 1;
  height: auto;
}

HopListItem {
  height: auto;
  border: solid $primary;
  layout: horizontal;
}

HopListItem Static{
  width: 1fr;
  content-align: left top;
}
HopListItem HopSparkline{
  width: 2fr;
}

.error-state {
  border: solid $error;
}
.warn-state {
  border: solid $warning;
}
