#app-container {
  layout: vertical;
  border: solid yellow;
}
DomainNameInput {
  border: hkey grey;
  height: 5;
  layout: horizontal;
}

TracerWidget {
  border: solid orange;
  layout: vertical;
}
/* #sidebar { */
/*   dock: left; */
/*   width: 20%; */
/* } */

/* Container#content-container { */
/*   layout: vertical; */
/*   border: solid orange; */
/*   align-horizontal: center; */
/*   width: 3fr; */
/* } */


DomainNameInput Label {
  width: 1fr;
  content-align: center middle;
  padding: 1;
  
}

DomainNameInput Input {
  width: 3fr;
  margin: 0 5 0 2;
}

DomainNameInput Input.-valid {
  border: tall $success 60%;
}
DomainNameInput Input.-valid:focus {
  border: tall $success 60%;
}

DomainNameInput #action-container {
  width: 2fr;
}
DomainNameInput #action-container Button {
  width: 25;
}

HopList {
  padding: 1;
  height: auto;
}

HopListItem {
  height: 4;
  border: solid green;
}


