
Container#app-container {
  layout: horizontal;
  border: solid yellow;
}

#sidebar {
  dock: left;
  width: 20%;
}

Container#content-container {
  layout: vertical;
  border: solid orange;
  align-horizontal: center;
  width: 3fr;
}

HopList {
  padding: 1;
  height: 3fr;
  /* min-height: 10vh; */
}

HopListItem {
  height: 6;
  border: solid green;
}
DomainNameInput {
  border: hkey grey;
  height: 5;
  layout: horizontal;
}

DomainNameInput Label {
  width: 1fr;
  content-align: center middle;
  padding: 1;
  
}

DomainNameInput Input {
  width: 3fr;
  margin: 0 5 0 2;
}


